/* Police pour les Titres*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
/* Police pour les bouttons*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
/* Police pour les p/ txt*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* Default font size */
body {
    font-size: 16px;
    margin-right: 150px;
    margin-left: 150px;
  }
  
  /* Media query for small screens */
  @media (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Media query for medium screens */
  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Media query for large screens */
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }
  body {
    margin: 0;
    box-sizing: border-box;
  }
/* When I got enongh space, make margins*/
@media screen and (min-width:768px) {
    .presentation, .header {
        margin-right: 150px;
        margin-left: 150px;
    }
}
@media screen and (max-width:768px) {
    .presentation, .header, .followme {
        margin-right: 15px;
        margin-left: 15px;
    }
}
@media screen and (max-width:768px) {
    .aligment {
        flex-direction: column-reverse;
    }
}
@media screen and (min-width:768px) {
    .projecontent p {
        width: 30%;
    }
}
@media screen and (max-width:768px) {
    .projecontent p {
        width: 65%;
    }
}
/* when the screen is like a phone, make it take more space so that it's readable*/
@media screen and (min-width:768px) {
    modal {
        width: 50%;
    }
}
@media screen and (max-width:768px) {
    modal {
        width: 90%;
    }
}
@media screen and (max-width:768px) {
    .maincontent{
        flex-direction: column;
        align-items: center;
    }
}
.header {
    text-align: center;
}
body{
    height: 100%;
    background-image: linear-gradient(#292955, #484897);
    margin: 0%;
}
h1{
    font-family:Ubuntu, Helvetica, sans-serif;
    color: aliceblue;
    margin-top: 0.5em;
}
.name{
    color: #56DCFC;
}
p{
    font-family: Lato, Helvetica, sans-serif;
    color: aliceblue;
}
h2{
    color: aliceblue;
    font-family:Ubuntu, Helvetica, sans-serif;
}
.presentation{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.presentationtxt{
    display: flex;
}
.presentationp {
    width: 70%;
}
@media screen and (min-width:1023px) {
    .presentationp{
        width: 50%;
    }
}
.aligment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.followme{
    display: flex;
    justify-content: center;
}
.twticon{
    width: 45px;
    margin: 5px;
}
.githubicon{
    width: 45px;
    margin: 5px;
}
.pp{
    width: 20%;
    border-radius: 50%;
}
.medialist{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
    position: relative;
    right: 250px
}
.projet > h2{
    text-align: center;
}
.projectcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative ;
}
.projectmediaimg{
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(16, 14, 88);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.projectmediaimg:hover{
    border-color: #484897;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}
.projecontent p{
    color: #DCDCDC;
    background-color: #6b6baf;
    border-radius: 20px;
    padding-left: 10px; 
}

modal{
    display: none;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    overflow-y: scroll;
}
modal > div > p {
    color: #000;
    font-family: Lato, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
.imgdescchess{
    width: 40%;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(16, 14, 88);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.imgdescchess:hover{
    border-color: #484897;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}
.imgdescgoogle{
    width: 40%;
    border-radius: 10px;
}
.blur{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.closebtn {
    color: rgb(16, 14, 88);
    position: sticky;
    top: 0;
    right: 0;
    margin: 5px;
    font-size: 16px;
    border-radius: 50%;
}
  .closebtn:hover, .closebtn:focus {
    color: black;
    background-color: #ADADC9;
    text-decoration: none;
    cursor: pointer;
}
.tittledesc {
    font-family:Ubuntu, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}
.imgdesc {
    display: flex;
    gap: 1em;
}
.img-container {
    margin: 0 10px;
}
.img-container > a > img {
    width: 100%;
}
/* soustitre de la fenetre modal*/
a{
    text-decoration: none;
}
.soustitre{
    font-family:Ubuntu, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}
.soustitre:hover{
    color: #484897;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.soustitrenonclicable{
    font-family:Ubuntu, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}
.projectinfo{
    font-family: Ubuntu, Helvetica, sans-serif;
    color: aliceblue;
    padding: 5px;
}
.type{
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}
.projecttittle{
    margin: 0%;
}
.maincontent{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
    margin-bottom: 70px;
}
@media screen and (max-width:768px) {
    .maincontent{
        flex-direction: column;
        align-items: center;
    }
}
.maincontent p {
    color: #DCDCDC;
    background-color: #6b6baf;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    margin: 0%;
}
.maincontentreverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
    margin-bottom: 70px;
}
.maincontentreverse p {
    color: #DCDCDC;
    background-color: #6b6baf;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    margin: 0%;
}
@media screen and (max-width:768px) {
    .maincontentreverse{
        flex-direction: column;
        align-items: center;
    }
}
.projecttext{
    display: flex;
    flex-direction: column;
    width: 30%;
}
@media screen and (max-width:768px) {
    .projecttext{
        width: 90%;
    }
}
.imgdescphoto{
    display: flex;
    flex-direction: column;
}
.img-containerphoto{
    display: flex;
    flex-direction: column;
    align-items: center;
}