@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
/* Default font size */
body {
    font-size: 16px;
    margin-right: 150px;
    margin-left: 150px;
  }
  
  /* Media query for small screens */
  @media (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Media query for medium screens */
  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Media query for large screens */
  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
  }
  body {
    margin: 0;
    box-sizing: border-box;
  }
/* When I got enongh space, make margins*/
@media screen and (min-width:768px) {
    .presentation, .header {
        margin-right: 150px;
        margin-left: 150px;
    }
}
@media screen and (max-width:768px) {
    .presentation, .header {
        margin-right: 15px;
        margin-left: 15px;
    }
}
@media screen and (max-width:768px) {
    .aligment {
        flex-direction: column-reverse;
    }
}
body{
    height: 100%;
    background-image: linear-gradient(#292955, #343466);
    margin: 0%;
}
h1{
    font-family:Roboto Mono, Helvetica, sans-serif;
    color: aliceblue;
    display: flex;
}
.name{
    color: #56DCFC;
}
p{
    font-family:Tilt Neon, Helvetica, sans-serif;
    color: aliceblue;
}
h2{
    color: aliceblue;
    font-family:Roboto Mono, Helvetica, sans-serif;
}
.presentation{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.presentationtxt{
    display: flex;
}
.presentationp {
    max-width: 70%;
}
.aligment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.followme{
    display: flex;
    justify-content: center;
}
.twticon{
    width: 45px;
    margin: 5px;
}
.githubicon{
    width: 45px;
    margin: 5px;
}
.pp{
    width: 20%;
    border-radius: 50%;
}
.medialist{
    width: 100%;
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
    position: relative;
    right: 250px
}
.projet > h2{
    text-align: center;
}
.projectcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.projectmedia > img{
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px;
}
.projecttext{
    width: 500px;
    background-color: #8EA9BF;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px;
}
.projecttext > p{
    color: #DCDCDC;
}