@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
body{
    height: 100%;
    background-image: linear-gradient(#292955, #343466);
    margin: 0%;
}
h1{
    font-family:Tilt Neon, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}
h2, p{
    font-family:Tilt Neon, Helvetica, sans-serif;
    color: aliceblue;
}
h3{
    color: aliceblue;
    font-family:Tilt Neon, Helvetica, sans-serif;
    margin: 0%;
}
.header{
    margin: 100px;
}
.presentation{
    border-top: thin solid aliceblue;
    margin-right: 150px;
    margin-left: 150px;
    height: 250px;
}
.presentation p {
    width: 500px;
    margin: 0%;
    position: relative;
    top: 15px;
}
.twticon{
    width: 45px;
    margin: 5px;
    position: relative;
    left: 300px;
    top: 45px;
}
.githubicon{
    width: 45px;
    margin: 5px;
    position: relative;
    left: 400px;
    bottom: 10px;
}
.suivezmoi{
    position: relative;
    top: 30px;
}
.pp{
    width: 220px;
    border-radius: 50%;
    position: relative;
    left: 800px;
    bottom: 239px;
}
.medialist{
    display: flex;
    justify-content: space-around;
}
ul{
    list-style: none;
    position: relative;
    right: 250px
}
.projet{
    border-top: thin solid aliceblue;
    margin-right: 150px;
    margin-left: 150px;
}
.projet > h2{
    text-align: center;
}
.projectcontent{
    position: relative;
    left: 80px;
}
.projectmedia > img{
    width: 300px;
}
.projecttext{
    width: 500px;
    position: relative;
    left: 310px;
    bottom: 170px;
    background-color: #8EA9BF;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px;
}